<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Удалить марку</title>
  <link rel="stylesheet" href="/CSS/style.css">
  <script src="JS/technique.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<div class="app-header__container">
  <a href="/">
    <img class="mainimg" src="/img/main/main.png">
  </a>
  <div class="basket">
    <a href="/basket"><img class="basketimg" src="/img/main/корзина.png"></a>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  <div>
    <label>id</label>
    <input type="text" name="id">
  </div>
  <button type="submit">Удалить</button>
</form>

</body>
</html>