<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Корзина</title>
    <link rel="stylesheet" href="CSS/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a href="/">
        <h5 class="p-2 text-dark">Cozy device</h5>
    </a>
    <div>
        <a class="p-2 text-dark" style="margin-left: 1248px;" href="/hubBasket">Корзина</a>
    </div>
    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
</div>

<table border="1" id="products">
    <tr>
        <th>Имя</th>
        <th>Цена</th>
        <th>Картинка</th>
        <th>Действие</th>
    </tr>

</table>
<script src="JS/products.js"></script>
</body>
</html>